@import '@angular/material/prebuilt-themes/indigo-pink.css';
//@import "~bootstrap/dist/css/bootstrap.css";

//html,body{
//  height: 100%;
//}
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "font-awesome/css/font-awesome.css";
@import "font-awesome/scss/font-awesome";
@import "font-awesome/scss/font-awesome";


/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Typography
	#Links
	#Browser Fix
	#Misc


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */


@import "font-awesome/scss/font-awesome";

@font-face {
  font-family: 'FontAwesome';
  src: url("assets/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("assets/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("assets/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("assets/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("assets/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("assets/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }


html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

body {
  margin: 0
}

ul.logos li {
  display: inline;
  margin: 7px
}

ul.logos amp-img {
  margin-bottom: 5px
}

ul.logos li > a {
  text-decoration: none
}

ul {
  list-style: none
}

header, main {
  display: block
}

[hidden] {
  display: none
}

a {
  color: #007bff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}


b {
  font-weight: 700
}

sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  top: -.5em
}

img {
  border: 0
}

hr {
  height: 0;
  box-sizing: content-box
}

*, :after, :before {
  box-sizing: border-box
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333
}


img {
  vertical-align: middle
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee
}

//[role=button] {
//  cursor: pointer
//}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit
}

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px
}

h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px
}

h3 {
  font-size: 18px
}

p {
  margin: 0 0 10px
}

.text-center {
  text-align: center
}

ul {
  margin-top: 0;
  margin-bottom: 10px
}

ul ul {
  margin-bottom: 0
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media(min-width: 768px) {
  .container {
    width: 750px
  }
}

@media(min-width: 992px) {
  .container {
    width: 970px
  }
}

@media(min-width: 1200px) {
  .container {
    width: 1170px
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px
}

.col-sm-5, .col-sm-7, .col-xs-3, .col-xs-9, .col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col-xs-3, .col-xs-4, .col-xs-8, .col-xs-9, .col-xs-12 {
  float: left
}

.col-xs-3 {
  width: 25%
}

.col-xs-4 {
  width: 33.33%
}

.col-xs-8 {
  width: 66.66%
}

.col-xs-9 {
  width: 75%
}

.col-xs-12 {
  width: 100%
}

@media(min-width: 768px) {
  .col-sm-5, .col-sm-7 {
    float: left
  }
  .col-sm-7 {
    width: 58.33333333%
  }
  .col-sm-5 {
    width: 41.66666667%
  }
}

//legend {
//  display: block;
//  width: 100%;
//  padding: 0;
//  margin-bottom: 20px;
//  font-size: 21px;
//  line-height: inherit;
//  color: #333;
//  border: 0;
//  border-bottom: 1px solid #e5e5e5
//}

.open > a {
  outline: 0
}

.clearfix:after, .clearfix:before, .container:after, .container:before, .row:after, .row:before {
  display: table;
  content: " "
}

.clearfix:after, .container:after, .row:after {
  clear: both
}

.pull-right {
  float: right
}

.pull-left {
  float: left
}

.text-danger {
  color: red
}



[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-link:before {
  content: '\e800'
}

.icon-globe:before {
  content: '\e801'
}

.icon-mail:before {
  content: '\e802'
}

.icon-heart:before {
  content: '\e803'
}

.icon-github-circled:before {
  content: '\f09b'
}

.icon-linkedin:before {
  content: '\f0e1'
}

.icon-instagram:before {
  content: '\f16d'
}

body {
  font-family: Menlo, DejaVu Sans Mono, Consolas, Monospace;
  font-size: 1em;
  //color: #363636;
  background: #ededed
}

.container {
  margin-top: 80px;
  margin-bottom: 15px;
  background: #fff
}

#photo-header {
  margin-top: -75px
}

#photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  padding: 5px;
  background: #ededed;
  display: inline-block;

}

#photo, #photo img {
  border-radius: 50%
}

#text-header h1 {
  margin: 0;
  padding: 0;
  font-size: 2.4em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px
}

#text-header h1:first-line {
  font-size: 1.5em;
  letter-spacing: -4px;
  font-weight: 800;
  line-height: 1.5em
}

#text-header h1 span {
  color: #f0563d
}

#text-header h1 sup {
  opacity: .5
}

hr {
  height: 3px;
  background: url(assets/line.png)
}

.box > div.content {
  margin-left: 10px;
  margin-right: 10px
}

.box h2 {
  color: #ec7263;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase
}

.box h2:before {
  content: "//";
  margin-right: 5px
}

.box p {
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: justify
}

#education {
  position: relative;
  padding: 1em 0
}

#education:before {
  width: 5px;
  height: 100%;
  position: absolute;
  left: 25px;
  top: 0;
  content: " ";
  display: block;
  background: #ec7263;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(7%, #ec7263), color-stop(89%, #ec7263), color-stop(100%, #fff));
  background: -webkit-linear-gradient(top, #fff, #ec7263 7%, #ec7263 89%, #fff);
  background: linear-gradient(180deg, #fff 0, #ec7263 7%, #ec7263 89%, #fff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=0)
}

#education li {
  width: 100%;
  z-index: 1;
  position: relative;
  float: left
}

#education .year {
  width: 10%;
  background: #fff;
  padding: 5px;
  margin-top: 8px;
  font-size: 1.5em;
  font-weight: 700;
  display: inline-block
}

#education .description {
  width: 80%;
  display: inline-block;
  background: #eee;
  margin-bottom: 10px;
  position: relative;
  padding: 10px 10px 0;
  border-bottom: 1px solid #ddd
}

#education .description:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  left: -16px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-right-color: #eee;
  pointer-events: none
}

#education .description h3 {
  font-size: 1.6em;
  margin: 0;
  padding: 0;
  font-weight: 700
}

#education .description p {
  font-size: 1.3em;
  margin-top: 5px;
  padding: 0
}

@media(min-width: 768px) {
  #education .description {
    width: 85%
  }
}

@media(min-width: 992px) {
  #education .description {
    width: 87%
  }
}

@media(min-width: 1200px) {
  #education .description {
    width: 90%
  }
}

.job {
  margin-bottom: 15px
}

.job .where {
  font-size: 1.5em;
  text-align: justify
}

@media(max-width: 768px) {
  .job .where {
    font-size: 1.3em
  }
}

.job .where a {
  color: #000;
  font-weight: 700
}

.job .year {
  font-size: 1.1em;
  opacity: .7;
  font-style: italic
}

.job .profession {
  font-size: 1.7em;
  font-weight: 700
}

p.description {
  font-size: 1.4em;
  line-height: 1.5em;
  text-align: justify
}

#personalProject a {
  color: #000;
  font-weight: 700
}

.contact-item {
  width: 100%;
  float: left
}

.contact-item .icon {
  font-size: 16px;
  padding: 10px;
  //border-right: 1px solid #aaa;
  //border-bottom: 1px solid #aaa;
  opacity: .6
}

.contact-item .fa {
  font-size: 2em
}

.contact-item .title {
  width: 80%;
  width: calc(100% - 55px);
  font-size: 1.5em;
  font-weight: 700;
  opacity: .9
}

.contact-item .description {
  width: 80%;
  width: calc(100% - 55px);
  font-size: 1.2em
}

.item-skills {
  height: 30px;
  background: #f0563d;
  color: #fff;
  padding: 5px 10px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.5em
}

.skills-legend {
  margin-top: 20px;
  opacity: .8
}

.skills-legend:before {
  width: 100%;
  height: 3px;
  position: relative;
  content: " ";
  display: block;
  margin-bottom: -13px;
  background: #c6c6c6
}

.skills-legend div {
  width: 25%;
  font-size: 1.2em;
  color: #a9a9a9;
  float: left
}

.legend:before {
  width: 3px;
  height: 10px;
  position: relative;
  content: " ";
  display: block;
  margin: auto auto 15px;
  background: #c6c6c6
}

.legend-left.legend:before {
  margin-left: 0
}

.legend-right.legend:before {
  margin-right: 0
}

.legend-left:nth-child(2) span {
  margin-left: -25px
}

.legend-right:nth-child(3) span {
  margin-right: -20px
}

.legend-right {
  text-align: right
}

#language-skills .skill {
  font-size: 1.3em;
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee
}

#language-skills .skill .icons {
  width: 111px;
  height: 14px;
  background: url(assets/star-grey.png) no-repeat
}

#language-skills .skill .icons-red {
  background: url(assets/star-red.png) no-repeat;
  height: 14px
}

.hobby {
  color: #fff;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 5px 5px 5px;
  background: #a75265;
  position: relative;
  font-size: 1.2em
}

//.hobby:before {
//  content: "\f004";
//  font-family: fontello;
//  font-style: normal;
//  font-weight: 400;
//  position: absolute;
//  top: 6px;
//  left: 7px
//}

.width-100 {
  width: 100%
}

.width-95 {
  width: 95%
}

.width-90 {
  width: 90%
}

.width-85 {
  width: 80%
}

.width-80 {
  width: 80%
}

.width-75 {
  width: 75%
}

.width-70 {
  width: 70%
}

.width-65 {
  width: 65%
}

.width-60 {
  width: 60%
}

.width-50 {
  width: 50%
}

.width-45 {
  width: 45%
}
.width-40 {
  width: 40%
}
.width-35 {
  width: 50%
}
.width-30 {
  width: 30%
}


* {
  margin: 0;
  padding: 0;
  //box-sizing: border-box;
  //transform-style: preserve-3d;

}

html, body, #world {
  width: 100%
}

#world {
  perspective: 500px;
  perspective-origin: 50% 40%;
  position: relative
}

#bg {
  background-color: orange;
  background: radial-gradient(ellipse at center, rgba(244, 241, 230, 1) 0%, rgba(232, 248, 239, 1) 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(-1000px) scale(3)
}



